<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FolderToWatch" value="H:\Watch"/>
    <add key="FolderToWatchCopy" value="H:\WatchCopy"/>
    <add key="LogPath" value="H:\logger.txt"/>
  </appSettings>
</configuration>